<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card *ngFor="let produto of getProdutos(); let i=index;">
      <ion-item>
        <ion-label>{{ produto.id }}</ion-label>
        <ion-label>{{ produto.nome }}</ion-label>
        <ion-button fill="outline" slot="end" (click)="hide(i)">Detalhar</ion-button>
      </ion-item>
      <ion-card-content *ngIf="currentDisplayIndex==i">
        <p><ion-label>Preço: {{ produto.valor | currency:'BRL' }}</ion-label></p>
        <p><ion-label>Marca: {{ produto.marca }}</ion-label></p>
        <p><ion-label>Categoria: {{ produto.tipo }}</ion-label></p>
        <p><ion-label>Quantidade: {{ produto.quantidade }}</ion-label></p>
        <p><ion-label>Quantidade: {{ produto.garantia }}</ion-label></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

